<html>
    <head>
        <script src="/static/script/jquery/dist/jquery.js">
        </script>
        <script src="/static/script/angular/angular.js">
        </script>
         <script src="/static/script/angular-route/angular-route.js">
        </script>
        <script src="/static/script/angular-resource/angular-resource.js">
        </script>
        <script src="/static/script/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <link href="/static/script/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <script src="static/controllers.js"></script>

        <script src="static/directives.js"></script>

    </head>

    <body>
    {% block content %}
    {% endblock content %}
    </body>
</html>
